<%- include partials/Header.ejs %>

<div>
<table id="device_table">
  <tr>
    <th>ID</th>
    <th>Friendly Name</th>
    <th>Model Name</th>
    <th>Port</th>
    <th>Operating System</th>
    <th>Operating System Version</th>
    <th>Connected</th>
  </tr>
  <%for (var device of locals.deviceList) {%>
  <tr class = "row_<%=device.ID%>">
    <td class = "inputable" ><%=device.ID%></td>
    <td class = "inputable" data-deviceid="<%=device.ID%>"><%=device.name%></td>
    <td class = "inputable" data-deviceid="<%=device.ID%>"><%=device.model_name%></td>
    <td class = "inputable" data-deviceid="<%=device.ID%>"><%=device.port%></td>
    <td class = "inputable" data-deviceid="<%=device.ID%>"><%=device.os%></td>
    <td class = "inputable" data-deviceid="<%=device.ID%>"><%=device.os_version%></td>
    <td class = "inputable onOff"  data-deviceid="<%=device.ID%>"> <%= device.connection === 1 ?  "on" : "off" %></td>
    <td class = "button deleteCancel" data-deviceid="<%=device.ID%>">
      <a class="deletebtn" href="#">Delete</a>
      <a class="cancelbtn hidden" href="#">Cancel</a>
    </td>
    <td class = "button editSave" data-deviceid="<%=device.ID%>">
      <a class="editbtn" href="#">Edit</a>
      <a class="savebtn hidden" href="#">Save</a>
    </td>
  </tr>
  <% } %>
    <tr>
      <td>ID</td>
      <form action="/addDevice" method="post">
        <td><input type="text" name="friendlyName"></td>
        <td><input type="text" name="modelName"></td>
        <td><input type="text" name="port"></td>
        <td><input type="text" name="os"></td>
        <td><input type="text" name="osVersion"></td>
        <td>
          <input type="checkbox" name="connected">
        </td>
        <td><input class="interaction" type="submit" value="Add"></td>
    </form>
    </tr>
    <tr>
      <% if (locals.error){ %>
        <p><%=locals.error%></p>
      <%  }%>
    </tr>
</table>
<p id="deviceUpdateErrors">
  Errors:
  <% if (locals.error){ %>
    <%=locals.error%>
  <%}%>
</p>
</div>

<%- include partials/Footer.ejs %>
