<!DOCTYPE html>
<html>
<head>
<!-- <link rel="stylesheet" type="text/css" href="/css/start.css">
<link rel="stylesheet" type="text/css" href="/css/reset.css"> -->
<title>Automation Start</title>
</head>
<body>
  <div id="page">
    <div>
      <form action="/changeIP" method="post">
        <input type="text" name="ip_address" placeholder= <%=locals.iprows.address%> >
        <input class="interaction" type="submit" value="Change">
      </form>
    </div>

    <div id = "startList">
      <form  action="/start" method="post">
        <select class="interaction" type="text" name="option">
          <option selected disabled>Choose device</option>
          <%for (var device of locals.rows) {%>
          <option type="text" value= <%= device.port %> > <%= device.name %> </option>
          <% } %>
        </select>
        <input class="interaction" type="submit" value="Start">
      </form>
    </div>

    <div id="device_table">
    <table>
      <tr>
        <th>ID</th>
        <th>Friendly Name</th>
        <th>Model Name</th>
        <th>Port</th>
        <th>Operating System</th>
        <th>Operating System Version</th>
        <th>Connection</th>
      </tr>
      <%for (var device of locals.rows) {%>
        <tr>
          <td><%=device.ID%></td>
          <td><%=device.name%></td>
          <td><%=device.model_name%></td>
          <td><%=device.port%></td>
          <td><%=device.os%></td>
          <td><%=device.os_version%></td>
          <td><%=device.connection%></td>
        </tr>
      <% } %>
        <tr>
          <td>ID</td>
          <form action="/addDevice" method="post">
            <td><input type="text" name="friendlyName"></td>
            <td><input type="text" name="modelName"></td>
            <td><input type="text" name="port"></td>
            <td><input type="text" name="os"></td>
            <td><input type="text" name="osVersion"></td>
            <td><input type="radio" name="connected" value="1">On<input type="radio" name="connected" value="0">Off</td>

            <input class="interaction" type="submit" value="Add">
            <% if (locals.error){ %>
              <p><%=locals.error%></p>
            <%  }%>
        </form>
        </tr>
    </table>
  </div>

  </div>
</body>
</html>



<script> </script>
